@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --bpm-gradient-deg: 0deg;
    --background-color: white;
    --bpm-circle-primary: #996acd;
    --bpm-circle-secondary: #c6c6c6;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

.frame {
    width: 60%;
    height: 80%;
    margin: auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blinker {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: green;
    margin-top: 20px;
}

.control {
    justify-content: center;
    padding-top: 20px;
}

.bpm-input {
    margin-top: 30px;
}

.bpm-label {
    width: max-content;
    z-index: 2;
    font-size: 2rem;
    user-select: none;
}

.subdivision-container {
    display: flex;
    height: 30px;
    margin-top: 30px;
    align-items: center;
}

.subdivision-dot {
    width: 10px;
    height: 10px;
    background-color: rgb(102, 130, 213);
    margin: 5px;
    border-radius: 100%;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.dot-focus {
    width: 20px;
    height: 20px;
}

.accent {
    width: 20px;
    height: 20px;
    background-color: yellow !important;
}

.bpm-input-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(var(--bpm-circle-primary) var(--bpm-gradient-deg), var(--bpm-circle-secondary) 0deg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bpm-input-circle::after{
    content: '';
    display: block;
    position: absolute;
    background: var(--background-color);
    height: 85%;
    width: 85%;
    border-radius: 50%;
}

.tap-tempo {
    position: absolute;
    width: 85%;
    height: 85%;
    background: radial-gradient(circle, #dfe0fa, transparent);
    z-index: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tap-tempo::after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    position: absolute;
    background: radial-gradient(circle, #dfe0fa, #bbbdff);
    opacity: 0%;
}

.blink-tap-in::after {
    opacity: 100%;
    transition: opacity 0.01s linear;
}

.blink-tap-out::after {
    opacity: 0%;
    transition: opacity 0.3s ease-out;
}